#calculator{

    display: flex;
    justify-content: center;
}

.numOne{

    height: 50px;
}


.numTwo{

    height: 50px;
}

.answer{

    height: 50px;
}

.myButtons{

    display: flex;
    justify-content: center;
}

.buttonOne{

    background-color: green;
}

.buttonTwo{

    background-color: red;
}

.buttonThree{

    background-color: blue;
}

.buttonFour{

    background-color: yellow;
}

#grid{

    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 15%;
}

.numbers{

    width: 50px;
    height: 50px;
    background-color: teal;
    border: 1px solid;
   
}

#calculatorTwo{

    width: 25%;
    background-color: orange;
}